{% extends "device/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if devices %}
                 <h1>{{ devices.count }} Device{{ devices.count|pluralize }} registered</h1>
            {% else %}
                 <h1>Current Devices</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        {% if devices %}
            <div class="list-group">
                {% for device in devices %}
                    <a href="{% url 'viewdevice' device.id %}" class="list-group-item list-group-item-action"><b>{{ device.hostname }}</b></a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h2>Looks like you don't have any devices!</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'createdevice' %}">New Device</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}










{% comment %}<!-- {% extends 'device/base.html' %}

{% block content %}
Current devices
<ul>
  {% for device in devices %}
  <li>
    <a href="{% url 'viewdevice' device.id %}">
    {{ device.hostname }}
    </a>
  </li>
  {% endfor %}
  </ul>
{% endblock %} -->{% endcomment %}
